$main_font: 'Open Sans', sans-serif;

$main_blue: rgb(119, 153, 187);
$main_orange: rgb(228, 105, 49);
$secondary_black: rgb(48, 48, 48);
$secondary_blue: rgb(50, 50, 93);
$purple: rgb(138, 91, 157);
$black_opacity: rgba(50, 50, 93, 0.8);
$input_bg: rgb(228, 228, 222);